form div {
  margin: 1em;
  display: inline-block;
  width: 150px;
}

.table-bordered{
  width: 75%;
}

html{
  height: 100%;
  background-color: black;
}

#container{
  display: flex;
  flex-direction: column;
  font-family: 'Codystar', cursive;
  color: white;
  background-color: black;
}

#movieTable{
  display: flex;
  flex-direction: column;
}

#selectCharacterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar{
  position: relative;
  height: 15%;
  width: 65%;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in
}

#movieListHeaders{
  font-weight: bold;
}

#movieListTitle{
  color: green;
}
#movieListDirector{
  color: turquoise;
}
#movieListProducer{
  color: purple
}
#movieListReleaseDate{
  color: red;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid turquoise;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

#loaderContainer{
  display: flex;
  justify-content: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


